/* styles.css */

/* Body styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  font-size: 30px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 14px;
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
  color: #333; /* Dark text color for headers */
}

tr:hover {
  background-color: #f5f5f5; /* Light gray background on hover */
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

/* Pagination styles */
.dataTables_paginate {
  text-align: right;
  font-size: 8px;
}

.dataTables_paginate .paginate_button {
  /* border-radius: 5px; */
  background-color: transparent;
  color: #91c1f5;
  border: 1px solid #a6cbf2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dataTables_paginate .paginate_button:hover {
  background-color: #aacaec;
  color: #fff;
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover {
  background-color: #007bff;
  color: #fff;
}

/* .dataTables_paginate .paginate_button.disabled, */
/* .dataTables_paginate .paginate_button.disabled:hover {
  background-color: transparent;
  color: #777;
  border: 1px solid #777;
} */

/* Additional Pagination styles */
.dataTables_paginate {
  background-color: #f9f9f9;
  /* padding: 10px; */
  /* border-radius: 5px; */
}

.dataTables_paginate .paginate_button {
  border: none; /* Remove border from pagination buttons */
}

/* Styles for negative values */
td.negative {
  color: red; /* Red color for negative values */
}

/* Styles for positive values */
td.positive {
  color: green; /* Green color for positive values */
}

/* Styles for empty values */
td.empty {
  color: #808080; /* Gray color for empty values */
}

td.highlight {
  background-color: whitesmoke !important;
}

html.dark td.highlight {
  background-color: rgba(var(--dt-row-hover), 0.082) !important;
}
